<audio id="audioPlayer" class="hidden" controls>
    <source id="audioSource" src="https://langapi.rivieraapps.com/audio?lang=it&text=Piaccere" type="audio/mp3">
</audio>

<script>

    class AudioPlayer {
        
        constructor(){
            
            this.audioPlayer = document.getElementById('audioPlayer');
            this.source = document.getElementById('audioSource');
        }

        async playAudio(text, language){
            // const audioSource = document.querySelector('#audioPlayer > source')
            // audioSource.setAttribute("src",`https://langapi.rivieraapps.com/audio?lang=${language}&text=${text}`)
            var lang = '';
            if(language.includes("fr")){
                lang = "fr";
            }else if(language.includes("it")){
                lang = "it";
            }else if(language.includes("slo")){
                lang = "si";
            }else{}
            
            // convert url for comparison
            const ttsRequestURL = `https://langapi.rivieraapps.com/audio?lang=${lang}&text=${text.replaceAll(" ", "%20")}`
            var urlfilterobject = document.createElement('img')
            urlfilterobject.src = ttsRequestURL
            
            // if request is for the same audio, skip loading
            if( urlfilterobject.src != this.source.src ){
                this.source.src = ttsRequestURL;
                await this.audioPlayer.load();
            }
            this.audioPlayer.play();
            // set source
    
        }
        
        isPaused(){
            return this.audioPlayer.paused;
        }
        pauseAudio(){
            this.audioPlayer.pause()
        }
    }
    
   
    var audioPlayer= new AudioPlayer;
    

    
</script>