<audio crossOrigin="anonymous" id="audioPlayer" class="hidden" controls>
    <source id="audioSource" src="https://langapi.rivieraapps.com/audio?lang=it&text=Piaccere" type="audio/mp3">
</audio>

<script>

    class AudioPlayer {
        
        constructor(){
            
            this.audioPlayer = document.getElementById('audioPlayer');
            this.source = document.getElementById('audioSource');
        }

        async playAudio(text, language){
            // const audioSource = document.querySelector('#audioPlayer > source')
            // audioSource.setAttribute("src",`https://langapi.rivieraapps.com/audio?lang=${language}&text=${text}`)
            
            await this.loadAudio(text, language)
            this.audioPlayer.play();
            // set source
    
        }

        async loadAudio(text, language){
            var lang = '';
            if(language.includes("fr")){
                lang = "fr";
            }else if(language.includes("it")){
                lang = "it";
            }else if(language.includes("slo")){
                lang = "si";
            }else{}
            
            console.log("Loading audio")
            const ttsRequestURL = `https://langapi.rivieraapps.com/audio?lang=${lang}&text=${text.replaceAll(" ", "%20")}`
            var urlfilterobject = document.createElement('img')
            urlfilterobject.src = ttsRequestURL

            if( urlfilterobject.src != this.source.src ){
                this.source.src = ttsRequestURL;
                await this.audioPlayer.load();
                console.log("Audio loaded")
            }
        }
        
        isPaused(){
            return this.audioPlayer.paused;
        }
        pauseAudio(){
            this.audioPlayer.pause()
        }
    }
    
   
    var audioPlayer= new AudioPlayer;
    

    
</script>