<script src="https://accounts.google.com/gsi/client" async ></script>

<style>
    #signup-form {
        display: none;
    }
    #logout-form {
        display: none;
    }
</style>


<div id="auth-container">

    <!-- Logout Form -->
    <div id="logout-form" class="card p-4 mb-4">
        <h3 class="text-center mb-4">You are logged in</h3>
        <button type="button" onclick="logout()" class="btn btn-success w-100">Log out</button>
    </div>

    <!-- Login Form -->
    <div id="login-form" class="card p-4 mb-4">
        <h3 class="text-center mb-4">Login</h3>
        <form>
            <div class="mb-3">
                <input type="email" class="form-control" id="login-email" placeholder="Email" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="login-password" placeholder="Password" required>
            </div>
            <button type="button" onclick="login()" class="btn btn-primary w-100">Login</button>
            
            {% if site.authentication.firebase.google_client_id  %}
            <p style="text-align: center;" >--- OR ---</p>
            <div id="googleSignInButton" style="display: flex; justify-content: center; align-items: center; height: 100%;"></div>
            {% endif %}
        </form>
        <!-- Signup Button -->
        <div class="text-center mb-4">
            <button id="show-signup" class="btn btn-link">Don't have an account? Sign Up</button>
        </div>
    </div>
    
    
    <!-- Signup Form (Initially Hidden) -->
    <div id="signup-form" class="card p-4">
        <h3 class="text-center mb-4">Sign Up</h3>
        <form>
            <div class="mb-3">
                <input type="email" class="form-control" id="signup-email" placeholder="Email" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="signup-password" placeholder="Password" required>
            </div>
            <button type="button" onclick="signUp()" class="btn btn-success w-100">Sign Up</button>
        </form>
        <!-- Login Button -->
        <div class="text-center mb-4">
            <button id="show-login" class="btn btn-link">Already have an account? Log in</button>
        </div>
    </div>


</div>

<div id="result"></div>

<script>
    const showSignupButon = document.getElementById('show-signup')
    const showLoginButon = document.getElementById('show-login')
    showLoginButon.style.display = 'none';

    const logoutForm = document.getElementById('logout-form')
    const loginForm = document.getElementById('login-form')
    const signupForm = document.getElementById('signup-form')

    showSignupButon.addEventListener('click', function() {
        document.getElementById('login-form').style.display = 'none';
        document.getElementById('signup-form').style.display = 'block';
        this.style.display = 'none';
        showLoginButon.style.display = 'block';
    });
    
    showLoginButon.addEventListener('click', function() {
        document.getElementById('login-form').style.display = 'block';
        document.getElementById('signup-form').style.display = 'none';
        this.style.display = 'none';
        showSignupButon.style.display = 'block';
    });

</script>

{% if site.authentication.firebase.api_key %}
    <script src="/assets/js/firebase-login-form.js"></script>
    
{% else %}
    <div>
        You must provide site.authentication.firebase.api_key to enable login functions
    </div> 
{% endif %}

<script>
    // Check for existing session on page load
    document.addEventListener('DOMContentLoaded', () => {
        if (authManager.isUserLoggedIn()){
            // resultDiv.innerHTML = `Logged in as ${user.email}`;
            logoutForm.style.display = 'block';
            loginForm.style.display = 'none';
            signupForm.style.display = 'none';
            // loggedintitle.innerHTML = `Logged in as ${user.email}`
            apICallEnabled = true
        } else {
            resultDiv.innerHTML = 'Not logged in';
            logoutForm.style.display = 'none';
            loginForm.style.display = 'block';
            apICallEnabled = false
        }
    });
    window.onload = function() {
        google.accounts.id.initialize({
            client_id: "{{ site.authentication.firebase.google_client_id }}",
            callback: handleCredentialResponse
        }); 
        google.accounts.id.renderButton(
            document.getElementById("googleSignInButton"),
            { theme: "outline", size: "large" }
        );
    };
  
</script>