<div class="stories-list">


  <div class="container">
    <div class="row">


      {% for story in site.stories | where_exp: "story", "story.published != false" %}

      <div class="col-4" onclick="location.href='{{ story.url }}';">
        <div href="{{ story.url }}" >
          <div>
            <img 
              class="shadow mb-2 rounded-1 border-bottom border-left" 
              src="{{ story.logo }}" 
              alt="{{ story.title  }}" 
              style="
                min-height: 15vh; width: 100%; object-fit: cover; 
                background: linear-gradient(to right, rgb(60, 13, 20) 3px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.25) 7px, rgba(255, 255, 255, 0.25) 10px, transparent 12px, transparent 16px, rgba(255, 255, 255, 0.25) 17px, transparent 22px), url(https://images-na.ssl-images-amazon.com/images/I/51pnouuPO5L.jpg);
                box-shadow: 0 0 5px -1px black, inset -1px 1px 2px rgba(255, 255, 255, 0.5);
              ">
          </div>
            <p 
              class="h6 mb-1" 
              style="white-space: nowrap;overflow: hidden; text-overflow: clip; font-size: small;">
              {{ story.title | truncate 5 }}</p>
            <p 
              class="mb-0" 
              style="white-space: nowrap;overflow: hidden; text-overflow: clip; font-size: x-small;">
              {{ story.author | truncate 5 }}</p>
            <p 
              class="fw-bold" 
              style="white-space: nowrap;overflow: hidden; text-overflow: clip; font-size: x-small;">
              {{ story.price | truncate 5 }}</p>
            
        </div>
      </div>
      
      
      {% endfor %}


    </div>
  </div>

   

</div>

