---
layout: default
---

<!-- Square posts for posting on social media -->

<style>

#branding {
  font-size: xx-small;
}

#question {
  
}

#answer_option {
  white-space:nowrap;
}

[id^="post-c"]{
  font-family: Georgia; 
  font-size: small;
  text-align: center;
  
  aspect-ratio: 1 / 1; /* This makes the height equal to the width */
}

#post_content {
  
}

[id^="post-c1-"]{
  background-color: #816341; 
  color: #FFFFFF;
}
[id^="post-c2-"]{
  background-color:#c7925c;
  color: #3B2A1E
}
[id^="post-c3-"]{
  background-color:#76b797;
  color: #FFFFFF
}
[id^="post-c4-"]{
  background-color:#e9e0b7;
  color: #5B4C2A;
}



</style>

<div class="accordion accordion-flush" id="accordionExample">
  {% assign alphabet = "0ABCDEFGHIJKLMNOPQRSTUVWXYZ" | split: "" %}

  {% for data in site.social_posts | "story.published != false" %}
  <div class="accordion-item mb-1">
    
    <h2 class="accordion-header" id="heading{{ forloop.index }}">
      <button 
        class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
        data-bs-target="#collapseOne-{{ data.title | replace: ' ', '' }}" 
        aria-expanded="false" 
        aria-controls="collapseOne-{{ data.title | replace: ' ', '' }}"
      >
        {{ data.title }} - in {{ data.language }} - {% for tag in data.tags %} <span class="badge rounded-pill bg-light text-dark ms-1">{{ tag }}</span> {% endfor %}
      </button>
    </h2>
    
    <div id="collapseOne-{{ data.title | replace: ' ', '' }}" 
      class="accordion-collapse collapse" 
      aria-labelledby="heading{{ forloop.index }}" 
      data-bs-parent="#accordionExample">
      <div class="accordion-body">

        <div class="container">

          {% for quiz_item in data.quiz %}
          <div class="row" >
            

            <!-- iterate the colors -->
            {% assign num = 4 %}
            {% for i in (1..num) %}

              <div class="col-12 g-1"> 
                <div class="p-2" id="post-c{{ i }}-{{ forloop.index }}"  >
                  <p id="branding">@{{ data.author }}</p>
                  
                  <div id="post_content" class="mt-4">
                    <p id="question"> 
                      {{ quiz_item.question }}
                    </p>
                    
                    {% for answer_option in quiz_item.options %}
                      <div class="rounded-1 border mb-1" id="answer_option" >
                        {{ alphabet[forloop.index] }}: {{ answer_option |  truncate: 31  }}
                      </div>
                    {% endfor %}
                  </div>
                </div>

              </div>
            {% endfor %}

            

          </div>
          {% endfor %}
        </div>
      
      </div>
    </div>
  </div>
  {% endfor %}
  
</div>


