---
layout: default
---

<div class="archive">
    <article class="story">
      <div id="story-content">
        <div id="chapter-id-0" class=" mb-3">
          <div class="d-flex bd-highlight">
          
          
            <div class="p-2 bd-highlight"
              style=" width:38vw">
         
                <img 
                class="shadow mb-2 rounded-3 border-bottom border-left" 
                src="{{ page.logo }}" 
                alt="{{ page.title  }}" 
                style="
                  min-height: 18vh; width: 100%; object-fit: cover; 
                  background: linear-gradient(to right, rgb(60, 13, 20) 3px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.25) 7px, rgba(255, 255, 255, 0.25) 10px, transparent 12px, transparent 16px, rgba(255, 255, 255, 0.25) 17px, transparent 22px), url(https://images-na.ssl-images-amazon.com/images/I/51pnouuPO5L.jpg);
                  box-shadow: 0 0 5px -1px black, inset -1px 1px 2px rgba(255, 255, 255, 0.5);
                ">
            </div>
            <div class="p-2 flex-shrink-1  bd-highlight">
                <p class="fw-bold h3"> {{ page.title }}</p>
                <p class="mb-0" 
                  style="white-space: nowrap;overflow: hidden; text-overflow: clip; font-size: small;">
                  {{ page.author | truncate: 20 }}</p>
                <p> {{ page.price }}</p>
                <p> 
                  {% for tag in page.story_tags.main %}
                  <inline class="badge bg-light text-dark ">{{ tag }}</inline>
                  {% endfor %}
                <p>
            </div>
          </div>
        

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item mb-0" role="presentation">
              <button class="nav-link active p-2 pt-1 pb-1" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                Description
              </button>
            </li>
            <li class="nav-item mb-0 mutted" role="presentation">
              <button class="nav-link p-2 pt-1 pb-1" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                Learning overview
              </button>
            </li>
          </ul>
          <div class="tab-content mt-1" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <p>
                {{ page.description }}
              </p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <p >
                {{ page.learning_overview }}
              </p>
            </div>
          </div>
          
        </div>
        
        
        {% assign index = 0 %}
        {% for chap in page.chapters %}
     
          {% assign index = index | plus: 1 %}  
        <div 
          id="chapter-id-{{ index }}"
          style="display: none;"
        >
          <img 
          style="max-height:30vh; width:100%; overflow: hidden; object-fit: cover;"
          src="{{ chap.image }}" 
          alt="{{ chap.label }}" 
          class="img-fluid rounded-4 mb-2">
          
          
          <!-- chapter content -->
          <div class="tab-pane show active" 
            id="pills-home-{{ forloop.index }}"  >
            <h2> {{ chap.label }}</h2>
            <div id="actions-under-title">
              <button id="playButtonChapterText" onclick="playCurentChapterAudio()" class="btn btn-link">
                <i class="bi bi-play-fill"></i>
                Play
              </button>
            </div>
            <p id="chaptertext"> {{ chap.content["french"] }}</p>
            <p class="w-100 text-center">Chapter {{ forloop.index }} of {{ page.chapters.size }}</p>
          </div>

          </div>

          {% assign index = index | plus: 1 %}  
          <div 
            id="chapter-id-{{ index }}"
            style="display: none;"
          >
          <!-- quiz content -->
          <div class="" id="pills-profile-{{ forloop.index }}" >
            {% for q in chap.quiz %}
            <div class="quiz-item">
              <p class="fw-bold">{{ q.question }}</p>
              <ul style="list-style-type: none;">
                {% for opt in q.options %}
                <li>
                  <label class="d-flex text-dark">
                    <input type="radio" class="quiz-option me-3" 
                      {% if forloop.index0 == q.right_answer %} data-correct="true" {% endif%} 
                    >
                    {{ opt }}
                  </label>
                </li>
                {% endfor %}
              </ul>
              <p class="feedback" style="display: none;"></p> 
            </div>
            {% endfor %}
          </div>
          
          
        </div>
        {% endfor %}
        
        <div id="chapter-id-end">

          <h1 class="text-center" id="userpoints_indicator_text" >Felicitations!</h1>
          
          <div class="text-center" id="medal-gold" style="display:none;">
            <p>Gold medal!</p>
            <img src="/assets/images/medal-gold.png" alt="medal-gold">
          </div>
          <div class="text-center" id="medal-silver" style="display:none;">
            <p>Silver medal!</p>
            <img src="/assets/images/medal-silver.png" alt="medal-silver">
          </div>
          <div class="text-center" id="medal-bronze" style="display:none;">
            <p>Bronze medal!</p>
            <img src="/assets/images/medal-bronze.png" alt="medal-bronze">
          </div>
          
          <p class="fw-bold fs-2 text-center">
            <span id="userpoints_indicator"></span> points!
          </p>
          <p class="fw-bold fs-2 text-center" id="userpoints_ranking">
            
          </p>
          <p class="text-center">  {{ page.title }} </p>

        </div>
      </div>
      <!-- navigate between chapters -->
      <div id="chapter-actions" class="d-flex justify-content-between">
        <button id="previous-chapter" type="button" class="btn btn-secondary ">
          <i class="bi bi-chevron-left"></i>
          Back 
        </button>
        <button id="next-chapter" type="button" class="btn btn-secondary ml-auto">
          Next <i class="bi bi-chevron-right"></i>
          
        </button>
      </div>
      <div id="suggestions" style="display: none;" class="mt-3">
        <p class="h5">Other stories</p>
        {% include stories__list.html %}
      </div>
    </div>
  </article>

</div>

<script defer>
  var userPoints = 0

  const indicator = document.querySelector("#userpoints_indicator");
  indicator.textContent = String(userPoints)
  document.addEventListener('DOMContentLoaded', function() {
  const quizItems = document.querySelectorAll('.quiz-item');
  
  quizItems.forEach(item => {
    const options = item.querySelectorAll('.quiz-option');
    const feedback = item.querySelector('.feedback');
    
    options.forEach(option => {
      option.addEventListener('click', function() {
        const isCorrect = this.getAttribute('data-correct') === 'true';
        
        options.forEach(opt => opt.disabled = true);
        
        if (isCorrect) {
          feedback.textContent = "Correct! +1";
          feedback.style.color = "green";
          userPoints++
        } else {
          feedback.textContent = "Incorrect.";
          feedback.style.color = "red";
        }

        indicator.textContent = String(userPoints);
        feedback.style.display = "block";
      });
    });
  });
});

function presentPoints() {
  var gold = document.getElementById("medal-gold")
  var silver = document.getElementById("medal-silver")
  var bronze = document.getElementById("medal-bronze")
  var ranking = document.getElementById("userpoints_ranking")
  gold.style.display="none";
  silver.style.display="none";
  bronze.style.display="none";
  var gold_p = Math.ceil(max_points*0.85) 

  const quizItems = document.querySelectorAll('.quiz-item');
  var max_points = quizItems.length
  if(userPoints > gold_p ){
    gold.style.display="block";
    console.log("gold")
  }else if (userPoints > Math.ceil(max_points*0.75) ) {
    silver.style.display="block";
    console.log("silver")

  }else if(userPoints > Math.ceil(max_points*0.3) ){
    bronze.style.display="block";
    console.log("bronze")
  }else{
    // nothing
    console.log("no medal", userPoints,"/", max_points )
  }
  if(userPoints > 0){
    savePoints(userPoints);
  }
  // ranking.innerText='Gold '+ String(gold_p) + ' points'
}

function savePoints(pointsToSave){

  if( user != undefined ){
      user.addPoints(pointsToSave);
  }else{
      console.log("user not defined", user)
      // user not defined
  }
}

</script>

<!-- navigate between chapters -->
<script defer>


async function playCurentChapterAudio(){
  // get all chapters html objects
  const chapters = document.querySelectorAll('[id^="chapter-id-"]');
  // find curent chapter text (it has a 'block' for visibility) and also play button
  var curentChapterText = ''
  var playButton = null
  chapters.forEach( c => { 
    if(c.style.display == "block"){
      playButton = c.querySelector('#playButtonChapterText')
      curentChapterText = c.querySelector('#chaptertext').innerHTML;
      return; // breaks the for loop.
    }
  })
  playButton.classList.toggle("disabled");

  // Show loading animation when loading starts
  audioPlayer.audioPlayer.addEventListener('loadstart', () => {
        playButton.innerHTML = `<div class="spinner-grow" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>`
  });

  // Hide loading animation when enough data is available to play
  audioPlayer.audioPlayer.addEventListener('canplay', () => {
    playButton.innerHTML = `<i class="bi bi-pause"></i> Pause`
    playButton.classList.remove("disabled");

  });

  // trigger when audio ends
  audioPlayer.audioPlayer.addEventListener('ended', () => {
    playButton.innerHTML = `<i class="bi bi-play"></i> Play`
    playButton.classList.remove("disabled");

  })

  // Handle errors
  audioPlayer.audioPlayer.addEventListener('error', () => {
      // loadingIndicator.style.display = 'none';
      alert('Error loading audio');
  });

  
  
  if (!audioPlayer.isPaused()){
    audioPlayer.pauseAudio()
  }else{
    // play the audio of displayed chapter
    await audioPlayer.playAudio(curentChapterText, 'french')
  }
  
  
  changeButtonTextBasedOnPlayerStatus(playButton);

  // enable the button
  playButton.classList.remove("disabled");
  
}

function changeButtonTextBasedOnPlayerStatus(playButton){
  if (!audioPlayer.isPaused()){
    playButton.innerHTML = `<i class="bi bi-pause"></i> Pause`
  }else{
    // turn the button into play
    playButton.innerHTML = `<i class="bi bi-play"></i> Play`
  }
}


document.addEventListener('DOMContentLoaded', function() {
  const chapters = document.querySelectorAll('[id^="chapter-id-"]');
  const nextButton = document.getElementById('next-chapter');
  const previousButton = document.getElementById('previous-chapter');
  const suggestions = document.getElementById('suggestions');
  
  let currentChapter = 0;
  const totalChapters = chapters.length - 1; // Subtract 1 to exclude the end chapter
  
  
  function showChapter(index) {
    chapters.forEach((chapter, i) => {
      if (i === index) {
        chapter.style.display = 'block';
      } else {
        chapter.style.display = 'none';
      }
    });
  }

  function scrollToTop(){
    // Scroll to the top smoothly
    window.scrollTo({
        top: 0,
        behavior: 'smooth'
    });
  }
  function nameTheButton(){
    if (nextButton && currentChapter==0 ) {
      nextButton.classList.add("btn-primary")
      nextButton.classList.add("w-100")
      nextButton.classList.remove("btn-secondary")
      nextButton.innerHTML="Open"
      previousButton.style.display = 'none';
      suggestions.style.display = 'block';
    } else {
      nextButton.innerHTML="Next >"
      nextButton.classList.remove("btn-primary")
      nextButton.classList.remove("w-100")
      nextButton.classList.add("btn-secondary")
      suggestions.style.display = 'none';
    }
    if(currentChapter==1) {
      previousButton.style.display = 'none';
      nextButton.classList.add("btn-primary")
      nextButton.classList.add("w-100")
    }
    if (currentChapter === totalChapters) {
      suggestions.style.display = 'block'; // show sug. at the end of the story
      presentPoints()
    }
  }
  nextButton.addEventListener('click', function() {
    currentChapter++;
    if (currentChapter > 0) {
      previousButton.style.display = 'block';
    }else{
      previousButton.style.display = 'none'; 
    }
    if (currentChapter < totalChapters) {
      showChapter(currentChapter);
    } else if (currentChapter === totalChapters) {
      // Show the end chapter
      chapters.forEach(chapter => chapter.style.display = 'none');
      document.getElementById('chapter-id-end').style.display = 'block';
      nextButton.style.display = 'none'; // Hide the next button on the last page
    }
    scrollToTop();
    nameTheButton()
  });
  previousButton.addEventListener('click', function() {
    currentChapter--;
    
    if (currentChapter < totalChapters) {
      showChapter(currentChapter);
      nextButton.style.display = 'block';
    } else if (currentChapter === totalChapters) {
      // Show the end chapter
      chapters.forEach(chapter => chapter.style.display = 'none');
      document.getElementById('chapter-id-end').style.display = 'block';
      nextButton.style.display = 'none'; // Hide the next button on the last page
      
    }
    scrollToTop();
    nameTheButton()
  });
  
  // Initialize by showing only the first chapter
  showChapter(currentChapter);
  
  nameTheButton()
  
});
</script>